@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;
}

.main {
    background-image: url("Images/Backgroung.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1340px, 100vw);
    height: 80vh;
    position: relative;
}

body {
    background-color: black;
}

.main .box {
    height: 80vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 90vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100px;
}

nav img {
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 29px;
    padding: 0 30px;
    text-align: center;
}

.hero> :nth-child(1) {
    font-weight: 900;
    font-size: 40px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation {
    height: 11px;
    background-color: rgb(38, 38, 38);
}

.btn {
    padding: 3px 8px;
    font-weight: 500;
    color: white;
    background-color: rgba(248, 243, 243, 0.119);
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.319);
    border-radius: 4px;

}

.hero-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.main input{
    padding: 9px 181px 11px 14px;
    font-size: 12px;
    color: white;
    border-radius: 4px;
    background-color: rgba(57, 57, 57, 0.7);
    border: 1px solid rgba(179, 179, 179, 0.7);
}

.hero input::placeholder{
    font-weight: 400;
    color: rgba(255, 255, 255, 0.802);
}

.btn-red {
    min-width: 200px;
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.first{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    /* margin: auto; */
    margin: 50px auto 68px auto;
    color: white;
}
.secimg{
    position: relative;
}
.secimg img{
    /* padding-bottom: 35px; */
    margin-top: 14px;
    width: 30vw;
    position: relative;
    z-index: 10;
}
/* .secimg video{
    position: absolute;
    top: 51px;
    right: 0;
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 73%;
    max-height: 54%;
    position: absolute;
    top: calc(22% + 1px);
    left: 13%;
} */
.secimg .v1{
    position: absolute;
    top: 51px;
    right: 0;
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 73%;
    max-height: 54%;
    position: absolute;
    top: calc(22% + 1px);
    left: 13%;

}
.secimg .v2{
    position: absolute; 
    /* top: 51vw; */
    right: 0;
    z-index: -1;
    overflow: hidden;
    width: 60%;
    height: 100%;
    max-width: 70%;
    max-height: 54%;
    position: absolute;
    top: calc(8% + 1px);
    left: calc(19% + 1px);
}
section .first > div{
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}


.first > div :nth-child(1){
    font-size: 53px;
    font-weight: bold;
    
}
.first > div :nth-child(2){
    font-size: 22px;
}

.faq h2{
    font-size: 48px;
    text-align: center;
}
.faq{
    padding: 34px;
    background-color: black;
    color: white;
}
.faqbox:hover{
    transition: all 0.1s ease-in-out;
    background-color: rgb(70, 70, 70);
}
.faqbox{
    font-size: 24px;
    cursor: pointer;
    justify-content: space-between;
    max-width: 70vw;
    margin: 10px auto;
    display: flex;
    background-color: rgb(45, 45, 45);
    padding: 24px;
}
footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}
footer .questions{
    padding: 24px 0;
}


.footer a{
    font-size: 14px;
    color: white;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}
@media screen and (max-width: 860px){
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: white;
        gap: 55px;
    }
    .first{
        flex-wrap: wrap;
    }
    .hero> :nth-child(1) {        
        font-size: 32px;       
    }
    .hero> :nth-child(2) {       
        font-size: 18px;      
    }
    .hero> :nth-child(3) {       
        font-size: 18px;      
    }
    .hero-buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }
    .faq h2{
        font-size: 32px;
        text-align: center;
    }
    footer{
        max-width: 90vw;
        
    }
    .footer-item{
        gap: 13px;
    }
}


.footer-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}